<div id="app">
    <v-app id="inspire">
        <v-navigation-drawer fixed v-model="drawer" app>
            <v-list dense>
                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon>star</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Versus</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon>book</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Stats</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon>gamepad</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>TeamBuilder</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{title}}</v-toolbar-title>
        </v-toolbar>
        <v-content>
                <v-container grid-list-md>
                    <v-layout column>
                        <v-flex xs6 pa-4>
                            <v-card>
                                <v-layout row align-center justtify-center>
                                    <v-flex>
                                                <div class="headline text-xs-center" >
                                                    Karlo: {{team2TotalPoints}}
                                                </div>

                                    </v-flex>
                                    <v-flex>
                                        <v-card-title primary-title>
                                            <div>
                                                <div class="headline">
                                                    Jets
                                                </div>
                                                <div>
                                                    {{team2Data/[0].lastName}}: {{team2Data/[0].latestPlayerStats.G}}G  {{team2Data/[0].latestPlayerStats.A}}A  {{team2Data/[0].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team2Data/[1].lastName}}: {{team2Data/[1].latestPlayerStats.G}}G  {{team2Data/[1].latestPlayerStats.A}}A  {{team2Data/[1].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team2Data/[2].lastName}}: {{team2Data/[2].latestPlayerStats.G}}G  {{team2Data/[2].latestPlayerStats.A}}A  {{team2Data/[2].latestPlayerStats.TP}}PTS
                                                </div>
                                            </div>
                                        </v-card-title>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>

                        <v-flex xs6 pa-4>
                            <v-card>
                                <v-layout align-center justify-center>
                                    <v-flex>
                                        <div class="headline text-xs-center" >
                                            Andy: {{team1TotalPoints}}
                                        </div>
                                    </v-flex>
                                    <v-flex>
                                        <v-card-title primary-title>
                                            <div>
                                                <div class="headline">
                                                    Avalanche
                                                </div>
                                                <div>
                                                    {{team1Data/[0].lastName}}: {{team1Data/[0].latestPlayerStats.G}}G  {{team1Data/[0].latestPlayerStats.A}}A  {{team1Data/[0].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team1Data/[1].lastName}}: {{team1Data/[1].latestPlayerStats.G}}G  {{team1Data/[1].latestPlayerStats.A}}A  {{team1Data/[1].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team1Data/[2].lastName}}: {{team1Data/[2].latestPlayerStats.G}}G  {{team1Data/[2].latestPlayerStats.A}}A  {{team1Data/[2].latestPlayerStats.TP}}PTS
                                                </div>
                                            </div>
                                        </v-card-title>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>
                        <v-flex xs6 pa-4>
                            <v-card>
                                <v-layout align-center justify-center>
                                    <v-flex>
                                        <div class="headline text-xs-center" >
                                            Phil: {{team3TotalPoints}}
                                        </div>
                                    </v-flex>
                                    <v-flex>
                                        <v-card-title primary-title>
                                            <div>
                                                <div class="headline" >
                                                    Bruins
                                                </div>
                                                <div>
                                                    {{team3Data/[0].lastName}}: {{team3Data/[0].latestPlayerStats.G}}G  {{team3Data/[0].latestPlayerStats.A}}A  {{team3Data/[0].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team3Data/[1].lastName}}: {{team3Data/[1].latestPlayerStats.G}}G  {{team3Data/[1].latestPlayerStats.A}}A  {{team3Data/[1].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team3Data/[2].lastName}}: {{team3Data/[2].latestPlayerStats.G}}G  {{team3Data/[2].latestPlayerStats.A}}A  {{team3Data/[2].latestPlayerStats.TP}}PTS
                                                </div>
                                            </div>
                                        </v-card-title>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>
                        <v-flex xs6 pa-4>
                            <v-card>
                                <v-layout align-center justify-center>
                                    <v-flex>
                                        <div class="headline text-xs-center" >
                                            Seb: {{team4TotalPoints}}
                                        </div>
                                    </v-flex>
                                    <v-flex>
                                        <v-card-title primary-title>
                                            <div>
                                                <div class="headline" >
                                                    Hurricanes
                                                </div>
                                                <div>
                                                    {{team4Data/[0].lastName}}: {{team4Data/[0].latestPlayerStats.G}}G  {{team4Data/[0].latestPlayerStats.A}}A  {{team4Data/[0].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team4Data/[1].lastName}}: {{team4Data/[1].latestPlayerStats.G}}G  {{team4Data/[1].latestPlayerStats.A}}A  {{team4Data/[1].latestPlayerStats.TP}}PTS
                                                </div>
                                                <div>
                                                    {{team4Data/[2].lastName}}: {{team4Data/[2].latestPlayerStats.G}}G  {{team4Data/[2].latestPlayerStats.A}}A  {{team4Data/[2].latestPlayerStats.TP}}PTS
                                                </div>
                                            </div>
                                        </v-card-title>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
        </v-content>
        <v-footer color="indigo" app inset>
            <span class="white--text">&copy; 2017</span>
        </v-footer>
    </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

<!--vuetify-->
<script>
    new Vue({
        el: '#app',
        data: () => ({
            drawer: false,
            team1Pts: {{team1Data/[0].latestPlayerStats.TP}} + {{team1Data/[1].latestPlayerStats.TP}} + {{team1Data/[2].latestPlayerStats.TP}},
            team2Pts: {{team2Data/[0].latestPlayerStats.TP}} + {{team2Data/[1].latestPlayerStats.TP}} + {{team2Data/[2].latestPlayerStats.TP}},
            team3Pts: {{team3Data/[0].latestPlayerStats.TP}} + {{team3Data/[1].latestPlayerStats.TP}} + {{team3Data/[2].latestPlayerStats.TP}},
        })
    })
</script>
<!--vue-->


<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Scheifele", "Wheeler", "Laine"],
            datasets: [{
                label: 'Jets Top Line',
                data: [{{scheifelePt}},{{wheelerPt}},{{lainePt}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(153, 102, 255, 0.2)',
//                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
//                    'rgba(75, 192, 192, 1)',
//                    'rgba(153, 102, 255, 1)',
//                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        }

    });
</script>

