<h1>{{title}}</h1>
<div id="total">
    <p style="font-size: 40px; font-weight: bold;">Karlo: {{karloTotalPoints}}</p>
    <p style="font-size: 40px; font-weight: bold;">Andy: {{andyTotalPoints}}</p>
</div>
<div id="jets">
    <p style="font-weight: bold">JETS</p>
    <p>Scheifele: {{scheifeleG}}G  {{scheifeleA}}A  {{scheifelePt}}PTS</p>
    <p>Wheeler: {{wheelerG}}G  {{wheelerA}}A  {{wheelerPt}}PTS</p>
    <p>Laine: {{laineG}}G  {{laineA}}A  {{lainePt}}PTS</p>
</div>

<div id="stars">
    <p style="font-weight: bold">STARS</p>
    <p>Seguin: {{seguinG}}G  {{seguinA}}A  {{seguinPt}}PTS</p>
    <p>Benn: {{bennG}}G  {{bennA}}A  {{bennPt}}PTS</p>
    <p>radulov: {{radulovG}}G  {{radulovA}}A  {{radulovPt}}PTS</p>
</div>

